<li class="folio" data-anim="bottom">
    <a href="{{ folio.link }}">
        <div class="folio__content wrapper">
            <h2 class="folio__title">{{ folio.title }}</h2>
            <div class="folio__details">
                {% if folio.terms('skills') is not empty %}
                    <ul class="folio__details__skill">
                        {% for skill in folio.terms('skills') %}
                            <li>{{ skill.name }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}

                {% if folio.type_de_projet is not empty %}
                    <span class="folio__details__type">{{ folio.type_de_projet }}</span>
                {% endif %}
            </div>
        </div>

        {% if folio.thumbnail is not empty %}
            <div class="folio__thumbnail">
                <img src="{{ Image(folio.thumbnail).src('folio-thumbnail') }}" alt="{{ folio.thumbnail.alt }}">
            </div>
        {% endif %}
    </a>
</li>