<footer class="footer wrapper">
    <div class="footer__contact">
        <button class="footer__contact__link emailFooter">{{ site.admin_email }}</button>
    </div>

    <div class="footer__menus">
        <ul class="footer__menus__left">
            {% for el in menus.main.items %}
                <li>
                    <a href="{{ el.link }}">{{ el.name }}</a>
                </li>
            {% endfor %}
        </ul>

        <ul class="footer__menus__right">
            {% for el in menus.footer.items %}
                <li>
                    <a href="{{ el.link }}">{{ el.name }}</a>
                </li>
            {% endfor %}
        </ul>
    </div>
</footer>