<!DOCTYPE html>
<html {{site.language_attributes}}>

    <head>
        <meta charset="{{site.charset}}">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="icon" type="image/png" href="/assets/img/favicon.png">

        <link rel="apple-touch-icon" sizes="180x180" href="{{site.theme.link}}/dist/img/icons/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="{{site.theme.link}}/dist/img/icons/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="{{site.theme.link}}/dist/img/icons/favicon-16x16.png">
        <link rel="manifest" href="{{site.theme.link}}/dist/img/icons/site.webmnifest">
        <link rel="mask-icon" href="{{site.theme.link}}/dist/img/icons/safari-pinnd-tab.svg" color="#eb5454">
        <meta name="msapplication-TileColor" content="#eb5454">
        <meta name="theme-color" content="#eb5454">

        {% block head %}{% endblock %}

        {{wp_head}}

    </head>

    <body class="{{body_class}}">

        <div class="wrapper">

            <header role="banner">

                <div class="wrapper-top">

                    <div class="logo">
                        <a href="{{ site.link }}">
                            <div class="site-title">
                                {{ site.title }}
                            </div>
                        </a>
                    </div>
                    
                </div>

                <div class="img-background">
                    <img src="{{ post.thumbnail.src('header') }}" srcset="{{ post.thumbnail.src('header') }} 1920w, {{ post.thumbnail.src('header-mobile')}} 960w " alt="">
                </div>

                {% block contentHeader %}{% endblock %}

            </header>

            {% block content %}{% endblock %}

            {% block footer %}
                {% include "template-parts/footer.twig" %}
            {% endblock %}

        </div>  

        {{wp_footer}}

    </body>

</html>
