<!DOCTYPE html>
<html {{site.language_attributes}}>

    <head>
        <meta charset="{{site.charset}}">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        {% block head %}{% endblock %}

        {{wp_head}}

        <link rel="apple-touch-icon" sizes="180x180" href="{{ theme.link }}/assets/favicons/apple-touch-icon.png?v=23">
        <link rel="icon" type="image/png" sizes="32x32" href="{{ theme.link }}/assets/favicons/favicon-32x32.png?v=23">
        <link rel="icon" type="image/png" sizes="16x16" href="{{ theme.link }}/assets/favicons/favicon-16x16.png?v=23">
        <link rel="manifest" href="{{ theme.link }}/assets/favicons/site.webmanifest?v=23">
        <link rel="mask-icon" href="{{ theme.link }}/assets/favicons/safari-pinned-tab.svg?v=23" color="#e84a4a">
        <link rel="shortcut icon" href="{{ theme.link }}/assets/favicons/favicon.ico?v=23">
        <meta name="msapplication-TileColor" content="#fdf5f5">
        <meta name="theme-color" content="#fdf5f5">

        <!-- Matomo -->
        <script>
            var _paq = window._paq = window._paq || [];
            /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
            _paq.push(['trackPageView']);
            _paq.push(['enableLinkTracking']);
            (function() {
            var u="//www.herrloc.com/analytics/";
            _paq.push(['setTrackerUrl', u+'matomo.php']);
            _paq.push(['setSiteId', '3']);
            var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
            g.async=true; g.src=u+'matomo.js'; s.parentNode.insertBefore(g,s);
            })();
        </script>
        <!-- End Matomo Code -->
  

    </head>

    <body class="{{body_class}}">

        <noscript>
            <style>
                .v-hidden{
                    visibility: visible;
                }
            </style>
        </noscript>

        <div class="global-wrapper">
            {{ fn('wp_body_open') }}

            {% block header %}
                {% include "template-parts/header.twig" %}
            {% endblock %}

            {% block content %}{% endblock %}

            {% block footer %}
                {% include "template-parts/footer.twig" %}
            {% endblock %}

            {{wp_footer}}
        </div>
        {% include('template-parts/infoCursor.twig') %}
    </body>
</html>
