<!DOCTYPE html>
<html {{site.language_attributes}}>

    <head>
        <meta charset="{{site.charset}}">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        {% block head %}{% endblock %}

        {{wp_head}}

    </head>

    <body class="{{body_class}}">
        <div class="global-wrapper">
            {{ fn('wp_body_open') }}

            {% block header %}
                {% include "template-parts/header.twig" %}
            {% endblock %}

            {% block content %}{% endblock %}

            {% block footer %}
                {% include "template-parts/footer.twig" %}
            {% endblock %}

            {{wp_footer}}
        </div>
        {% include('template-parts/infoCursor.twig') %}
    </body>
</html>
